<h2>Products</h2>
<table border="1" width=320 height=120>
  <tr>
    <td>Código</td>
    <td>Descrição</td>
    <td>Preço</td>
    <tr>
      <td>01</td>
      <td>Phone XML</td>
      <td>R$ 2.500,00</td>
      <tr>
        <td>02</td>
      <td>Phone LMP</td>
      <td>R$ 2.800,00</td>
      <tr>
        <td>03</td>
      <td>Phone XLK</td>
      <td>R$ 3.000,00</td>
</table>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->